.logo{
    background-color: #a03040;
    color: white;
    display: flex;
    justify-content: space-between 20px;
    align-items: center;
    padding: 0 1rem;
}
.logo a{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;  
}
.nav{
    background-color: #a03040;
    color: white;
    display: flex;
    justify-content: space-between 20px;
    align-items: end;
    padding: 0 1rem;
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.2);
}
.nav a{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: end;
    padding: .25rem;
}
/*-----------------------*/
.card{
    border-radius: 1px;
    border-width: 1px;
    border-color: #a03040;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}



